@model Models.Db.Comment
@using Retro95.Models
@using System.Text.Json
@using System.Text.Json.Nodes

@{
  var giphy = JsonSerializer.Deserialize<JsonObject>(Model.Text);
  var giphyImage = (giphy?["image"] ?? string.Empty).GetValue<string>();
  var giphyTitle = (giphy?["title"] ?? string.Empty).GetValue<string>();
}

<div class="comment">
  @if (@Model.UserId == Model.User?.Id)
  {
    <div class="tools">
      <form method="post">
        <button type="submit" asp-page-handler="RemoveComment" class="recycle"></button>
        <input type="hidden" name="commentId" value="@Model.Id" />
      </form>
    </div>
  }
  <div>
    <img src="@giphyImage" alt="@giphyTitle" />
  </div>
  <span class="author">@Model.User?.Name</span>
</div>
